html,
body {
  width: 200px;
}

.chessExportChoice {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.chessExportChoice:hover {
  background-color: #cff2f2;
}
